.footer {
  padding: 15px 0;
  color: $color-light;
  background-color: $color-dark;
}

.footer-inner {
  @include container;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-phone {
  font-size: 28px;
  line-height: 38px;
}
