.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 0 0;
  background-color: $color-dark;
  color: $color-light;
}

.header-inner {
  @include container;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


