.promo {
  // margin-top: 92px;
  // спросить у Кирилла почему голова улетает
  // в хедер если убрать маржин

  padding-top: 200px;
  padding-bottom: 214px;
  background-image: url('../images/promo-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;

  @media (max-width: $tablet-max) {
    padding: 180px 0 190px;
  }

  @media (max-width: $mobile-max) {
    padding: 16px 0;
  }
}

.promo-fade {
  // background-color: rgba($color-dark, 0.3);
}

.promo-inner {
  @include container;
}

.promo-title {
  margin-bottom: 100px;
  text-align: center;
  color: $color-light;
  font-family: $font;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;

  @media (max-width: $tablet-max) {
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 44px;
  }

}
